<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag if current_user %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_tag do %>
      window.AppInfo = {
      railsEnv: "<%= Rails.env %>",
      }
    <% end %>
    
  </head>

  <body>
  <%= render 'devise/menu/login_links' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
  </body>
</html>
